h1 {
  font-family: helvetica;
}

p {
  color: red;
}

section p.more-content {
  background-color: #FF0000;
}

.more-content {
  background-color: #0000FF;
}

#something-else {
  border: 5px dashed #00FF00;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

div {
  font: 1rem 'Fira Sans', sans-serif;
  margin-bottom: .5rem;
}