h1 {
  font-family: helvetica;
}

h2 {
  font-weight: bold;
}

p {
  color: rgb(41, 28, 5);
  font: 1rem 'Fira Sans', sans-serif;
  margin-bottom: .5rem;
  background-color: rgb(156, 147, 147);
  width: 500px;
  border: 5px solid rgb(76, 23, 92);
  padding: 30px;
  margin: 20px;
  
}

section p.more-content {
  background-color: #FF0000;
}

.more-content {
  background-color: #0000FF;
}

something-else {
  border: 5px dashed #00FF00;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

ol {
  list-style: decimal;
}

li {
  margin-left: 50px;
}